.chord-label {

}

html, body
{
    height: 100%;
    min-height: 100%;
	font-family: 'Raleway', sans-serif;
	font-size: x-large;
}

input[type=text] {
	width: 10%;

	height: 70%;
	font-size: 200%;

	position: absolute;
	top: 25%;

	border: 0px none;

	background-color:rgba(0, 0, 0, 0);
	z-index: 1;
}

div {
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

iframe {
	height:90%
}

.modal-lg {
	height:90% !important;
}

.modal-sm {
	width: 40%
}

.upload-content {
	height:100%
}

.upload-body {
	height:90%
}

.form-group {
	height:100%
}

.modal-footer button, .modal-body button {
	font-size: x-large;
}

.sample-pdf {
    float: right;
    position: relative;
    top: 3%;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	height: 100%;
	width: 100%;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
	height: 100%;
	width: 100%;
}

.space-10 {height: 100%; width: 10%; float:left;}

.header-button button {
	height: 80%;
	width: 90%;
	position: relative;
	top: 10%;
	left: 5%;
	font-size: x-large
}

.header-bar {
	height: 8%;
	width: 100%;
	background-color: #EBEBEB;
	position: fixed;
    z-index: 100;
}

.header-spacing {
	height: 8%;
	width: 100%;
}

.header-button {
	width: 10%;
	height: 100%;
	float: left;
}
.header-key-sig {
	width: 3.3%;
	height: 100%;
	float: left;
}

.header-majorminor {
	width: 7%;
	height: 100%;
	float: left;
}

.header-key-sig select, .header-majorminor select {
	width: 97%;
	height: 60%;
	position: relative;
	top: 20%;
	font-size: x-large;
	border: 0px none;
	background-color: #FAFAFA;
	border-radius: 0;
}

.nothing-loaded {
	height: 92%;
}

.nothing-loaded p {
	width: 100%;
	height: 20%;
	position: relative;
	top: 40%;
	margin: auto;
	font-size: 300%;
	color: #BBBBBB;
}
